# Archivos de sistema basura
.DS_Store
Thumbs.db

# Entornos virtuales y cache de Python
__pycache__/
*.py[cod]
.venv
env/
venv/

# Variables de entorno (¡MUY IMPORTANTE PARA SEGURIDAD!)
.env

# Archivos de datos pesados (GitHub no es para guardar Excel)
*.csv
*.xlsx
*.log
# Ignorar secretos y claves
claves_secretas.txt

# -- seguridad devsecops --
# logs del sistema y de la aplicacion(contienen ips y datos sensibles)
*.log
salida.log
bitacora_seguridad.txt

# secretos y tokens (evitar subir algu token ejemplo de telegram por accidente)
secrets.py
config.json
*.env

# archivos temporales de docker
.docker/
